<header class="encabezado navbar-fixed-top" role="banner" id="encabezado">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="images/logo.svg" alt="Logo del sitio">
        </a>

        <button type="button" class="boton-buscar" data-toggle="collapse" data-target="#bloque-buscar" aria-expanded="false">
          <i class="fa fa-search" aria-hidden="true"></i>
      </button>

        <form action="#" id="bloque-buscar" class="collapse">
            <div class="contenedor-bloque-buscar">
                <!-- Con el keyUP -->
                <!-- <input type="text" placeholder="Buscar..." [(ngModel)]="buscador" name="buscar" (keyup)="get_Objetos()"> -->

                <input type="text" placeholder="Buscar..." [(ngModel)]="buscador" name="buscar">

                <input type="submit" value="Buscar" class="boton" (click)="get_Objetos();">
            </div>
        </form>

    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 item" *ngFor="let items of objetos;let i = index;">


                <br>
                <a [href]="items.DetailPageURL"><img [src]="items.ImageSets | modificarValue: 'imagen'" alt=""></a>
                <hr>
                <p style="font-style:italic;">{{items.ItemAttributes.Title}}</p>
                <p><b>Categoría:</b> {{items.ItemAttributes.ProductGroup | modificarValue: 'categoria' }}</p>
                <!-- <p><b>Color:</b> {{items.ItemAttributes.Color }}</p>
                    
                Hago un ngIf que llama a la funcion comprobar oferta y le paso por parámetro el valor del array que dice el total de ofertas que hay de un objeto 
                    como el ngIf ya lo controla angular no hacer falta poner {{}} en el parametro
                -->
                <!--Como en los que no tienen ofertas solo existe hasta items.Offers.Offer y si le meto más que esto por parámetro da error y para el programa 
                    he tenido que hacer un pipe para el precio_normal que le pasa el value hasta items.Offers.Offer y comprueba 
                    si el array length del value es mayor de 3 ya que en los que no tienen oferta solo es 3 , si es 3 significa que no tiene oferta
                    y devuelvo flase , si es mayor que 3 significa que si tiene oferta y si existe el valor completo , por lo tanto devuelvo items.Offers.Offer.OfferListing.Price.FormattedPrice
                
                    Esto lo tengo que hacer para que al pasarle el parametro precio_normal al metodo comrpobar oferta no me de error de que a veces el parámetro no existe
                -->
                <p *ngIf="comprobarOferta(items.Offers.TotalOffers, items.Offers | modificarValue: 'precio_normal', items.OfferSummary )">
                    <b>Precio normal:</b> {{items.Offers.Offer.OfferListing.Price.FormattedPrice }}</p>

                <p><b>Precio actual:</b> {{items.OfferSummary | modificarValue: 'precio_rebajado'}}</p>
                <!--Si no hay ofertas hago que se imprima este p -->
                <p *ngIf="!comprobarOferta(items.Offers.TotalOffers,items.Offers | modificarValue: 'precio_normal', items.OfferSummary)" class="text-danger">No hay ofertas para este artículo</p>
                <a [href]="items.DetailPageURL" target="_blank" class="d-block">URL a Amazon</a>
                <!--Creo un boton que llama a una funcion mostrarOcultar y le paso por parametro la variable
                    i+1 declarada en el ngfor , por lo tanto el parametro será igual al id de la ul
                    que creo despues -->
                <button class="boton-mostrar" (click)="mostrarOcultar(i+1);"> Caracteristicas</button>
                <!--Le añado un array al ul que será la variable i que declaro en el ngfor +1 
                    la variable i sera cada vez que se recorre el for un numero mas alto  -->
                <div [id]="i+1" class="d-none">
                    <ul class="caracteristicas">
                        <!-- Muestro los tods datos de un array dentro del array de items-->
                        <!-- Hago un pipe que comprueba si el dato es un array o un string y transforma el string en array ya que el ngfor da error si no es array-->
                        <li *ngFor="let caracteristica of items.ItemAttributes.Feature | convertirArray">
                            {{caracteristica}}
                        </li>
                    </ul>
                </div>




            </div>
        </div>
    </div>
</section>