.custom-control-input:checked~.custom-control-indicator {
    background-color: #E67A00;
}

.encabezado {
    background: #111111;
    color: #fff;
    padding: .5rem 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.encabezado.fondo-menu {
    background: #064e4e;
    padding: 1rem 0;
}

.boton:hover {
    background-color: #043333;
}

.encabezado .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.encabezado .logo img {
    width: 150px;
    height: auto;
}


/*Estilos para el boton: buscar y menu*/

.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}

.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}

.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}


/*Estilos bloque buscar*/


/*Estilos bloque buscar*/

#bloque-buscar2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.contenedor-bloque-buscar2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}

.contenedor-bloque-buscar2 input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.contenedor-bloque-buscar2 input[type="submit"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    /* background: #12AFAF;
     */
    background: #12AFAF;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0 1rem;
    font-weight: bold;
    cursor: pointer;
}

.barra-nav {
    background-color: black;
}

.barra-nav button i {
    color: rgb(180, 177, 177);
    font-size: 1.5rem;
}

.barra-nav li {
    background-color: black;
}

.barra-nav li a {
    color: rgb(180, 177, 177);
    text-align: center;
    font-weight: 600;
}