.barra-nav {
    background-color: black;
}

.barra-nav button i {
    color: rgb(180, 177, 177);
    font-size: 1.5rem;
}

.barra-nav li {
    background-color: black;
}

.barra-nav li a {
    color: rgb(180, 177, 177);
    text-align: center;
    font-weight: 600;
}