<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <small id="emailHelp" class="form-text text-muted">Una vez logueado en la aplicación podrá seleccionar los productos de amazon que desee para que le llegue una notificación cuando tengan alguna oferta menor que el precio actual.</small>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <!-- El novalidate es para que al hacer el submit no intente hacer la validacion que hace el html5 por defecto -->
                <form class=" d-flex flex-column flex-wrap align-items-center" [formGroup]="formulario_login" (ngSubmit)="loguearse();" novalidate="novalidate">
                    <div class="form-group mt-2">
                        <!-- El touched es una propiedad del objeto form que crea angular al darle 
                            el [formGroup al formulario] y si todavia no se ha tocado el elemento el
                            untouched estará en true -->
                        <label for="email" [ngClass]="{'text-danger': formulario_login.controls['email'].touched && !formulario_login.controls['email'].valid}">Introduzca su email </label>

                        <input type="email" class="form-control w-100" name="email" id="email" placeholder="Introduzca su email" formControlName="email" [ngClass]="{'invalido': formulario_login.controls['email'].touched && !formulario_login.controls['email'].valid}">
                        <!-- Como le he puesto el required , si hay un error de required, muestro el campo de el campo es requerido
                      El ? se pone para decir que el campo errors puede no existir y porlo tanto que no pete el programa si no existe-->

                        <div *ngIf="formulario_login.controls['email'].touched && formulario_login.controls['email'].errors?.required" class="text-danger">
                            Este campo no puede estar vacío
                        </div>
                        <div *ngIf="formulario_login.controls['email'].errors?.pattern" class="text-danger">
                            Tiene que tener un formato email
                        </div>

                    </div>

                    <div class="form-group mt-2">
                        <label for="password" [ngClass]="{'text-danger': formulario_login.controls['password'].touched && !formulario_login.controls['password'].valid}">Introduzca su contraseña </label>

                        <input type="password" class="form-control w-100" name="password" id="password" placeholder="Introduzca su contraseña" formControlName="password" [ngClass]="{'invalido': formulario_login.controls['password'].touched &&!formulario_login.controls['password'].valid}">
                        <div *ngIf="formulario_login.controls['password'].touched && formulario_login.controls['password'].errors?.required" class="text-danger">
                            Este campo no puede estar vacío
                        </div>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label" style="font-weight:400!important;">
                                <input type="checkbox" class="form-check-input">
                                Recordarme
                        </label>
                    </div>

                    <div class="text-center mt-4">
                        <!-- Hago que el disabled tenga el valor del objeto formulario_login , este valor será true si se cumplen todas las validaciones de sus campos -->
                        <input type="submit" class="btn btn-primary w-50" value="Entrar" [disabled]='formulario_login.invalid' />

                    </div>
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




<!--////////////// -->