<header class="encabezado navbar-fixed-top" role="banner" id="encabezado">
    <div class="container">
        <a href="index.html" class="logo">
            <img src="images/logo.svg" alt="Logo del sitio">
        </a>

        <button type="button" class="boton-buscar" data-toggle="collapse" data-target="#bloque-buscar" aria-expanded="false">
          <i class="fa fa-search" aria-hidden="true"></i>
      </button>

        <form action="#" id="bloque-buscar" class="collapse">
            <div class="contenedor-bloque-buscar">
                <input type="text" placeholder="Buscar...">
                <input type="submit" value="Buscar">
            </div>
        </form>

    </div>
</header>